.header-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 203, 0, 1);
  height: 12rem;
  padding: 3rem 8% 0 8%;
}
.header-top-container {
  display: flex;
  padding-top: 1rem;
}
