.sidebar-container {
  position: absolute;
  margin-top: -5.5rem;
  background-color: white;
  width: 14%;
  left: 9%;
  padding: 1rem 0 1rem 1rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
}
.button-category-name {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
}
